@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Grid  */

body {
  display: flex;
  font-family: "Inter", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  margin: 0;
  background-color: #eae0f4;
}

.subtext,
#gridSizeLabel {
  font-size: 13px;
  color: #56386b;
  font-weight: 700;
}

.grid-container {
  border: 2px solid #56386b;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.grid-square {
  box-sizing: border-box;
  border: 0.5px solid black;
}

.gridInput {
  display: flex;
  gap: 6rem;
  margin-top: -40px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modes {
  display: flex;
  gap: 2.5rem;
  border: 2px solid #56386b;
  border-radius: 12px;
  padding: 7px 25px;
  margin-top: 70px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* Tools */

img {
  height: 30px;
  width: 30px;
}

.toolset {
  display: flex;
  justify-content: space-around;
  gap: 3.8rem;
  padding: 15px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid #56386b;
  margin-bottom: 20px;
}

.color-picker {
  width: 35px;
  height: 35px;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.active-tool {
  background-color: #eadef2;
  border-radius: 10px;
  padding: 7px;
}

.hoverText {
  position: relative;
  display: inline-block;
}

.toolName {
  background-color: #694584;
  color: white;
  text-align: center;
  padding: 7px;
  border-radius: 7px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
}

.hoverText:hover .toolName {
  visibility: visible;
  opacity: 1;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 7px;
  cursor: pointer;
}

/* slider */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #56386b;
  border-radius: 5px;
}

/* Styling the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #56386b;
  border-radius: 50%;
  cursor: pointer;
}

/* Modes */

.modeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

/* Title */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  color: #56386b;
  border: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.signature {
  display: flex;
  align-items: center;

  font-size: 12px;
  color: #8a5d92;
}

.signature img {
  width: 20px;
  height: 20px;
  margin-right: 1px;
}

a {
  text-decoration: none;
  color: #8a5d92;
}
