/* Grid  */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  margin: 0;
}

.grid-container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: white;
}

.grid-square {
  box-sizing: border-box;
  border: 0.5px solid black;
}

.gridInput {
  display: flex;
  gap: 6rem;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.modes {
  display: flex;
  gap: 2.5rem;
  border: 3px solid black;
  border-radius: 12px;
  padding: 7px 25px;
}

/* Tools */

img {
  height: 30px;
  width: 30px;
}

.toolset {
  display: flex;
  border: 2px solid black;
  gap: 3.8rem;
  padding: 7px;
}

.color-picker {
  width: 35px;
  height: 35px;
}

/* slide */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #000;
  border-radius: 5px;
}

/* Styling the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

/* Modes */

.modeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
